.viewing {
    padding: 22px 0;
    .viewing__content {
        width: 90%;
        margin: 0 auto;
        h2 {
            font-size: $fs-3 + 2;
        }
    }
    @include reponsive("screen-1") {
        .viewing__content {
            .card {
                .card-body {
                    .card-title {
                        margin-bottom: 0;
                        @include styleText($color-black-0, $fs-1, $fw-1);
                    }
                }
            }
        }
    }
}